* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: white;
}

body {
    background-color: #030B15
}

header {
    color: white;
    background-color: #030b15;
}
.head {
    color: white;
    background-color: #030b15;
    width: 100%;
    z-index: 1111;
    position: relative;
    visibility: visible;
    /* position: relative; */
    height: 100px;

}
.header--fixed{
    position: fixed;
    animation: fadeDown 1s forwards ease-out;
    width: 100%;
    height: 100px;
    inset: 0;
    visibility: visible;
    z-index: 1111;
}
@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}
header .row {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;

}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.menu-warp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-warp nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    /* *! */
    flex-wrap: wrap;
    width: 100%;
}

.navigation li {
    margin-right: 50px;
    margin: 0 10px;
}

.section-link {
    display: inline-block;
    height: 100%;
    padding: 40px 0;
    box-sizing: border-box;
}
/* *submenu */
.menu__container{
    position: relative;
}
.sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    min-width: 230px;
    background: #0B1D33;
    border: 1px solid rgba(255, 255, 255, 0.07);
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 49;
    transition: all 0.3s ease-in-out;
}
.sub-menu__item{
    margin-left: 0;
    text-align: left;
    padding: 20px;
    display: block;
}
.menu__container:hover .sub-menu{
    visibility: visible;
    opacity: 1;
}
.sub-menu__item a{
    font-size: 14px;
}
.sub-menu__item a:hover{
    color: #00C4F4;
}
/* **tao border-bottom khi hover */

.navigation .link:after {
    display: block;
    content: '';
    border-bottom: solid 3px #00c4f4;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: 100% 50%;
}

.navigation .link:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}


/* **language list */
.menu__action ul {
    width: 100%;
    display: flex;
    align-items: center;

}

.menu__action ul li {
    display: inline-block;
    height: 100%;

}

.lang a {
    text-align: left;
    padding: 5px 15px 5px 15px;
}

.head__lang {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 30%;
    margin-right: 20px;
    /* padding: 30px 0; */
    /* width: 50% */
}

.head__lang::before {
    content: "ENG";
}

.head__lang::after {
    content: "\f107";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #00C4F4;
    margin-left: -1%;
}


/* **header button  */

.menu__action .btn {
    /* margin-left: 35px; */
    padding-left: 55px;
}

.menu__action .btn__content {
    padding: 20px 50px;
}

/* **thanh doc mau xam */
.menu__action .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    background: #FFFFFF;
    height: 50%;
    opacity: 0.4;
}


/* **submenu languages css */
.lang {
    display: block;
    padding-left: 0;
    margin-left: 0;
}

.lang__list a:hover {

    color: #00c4f4;
}

.lang a {
    display: inline-block;
    padding-left: 0;
    margin-left: 0;
    /* text-align: left; */
    /* padding: 5px 15px 5px 15px; */
}

.lang__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -10px;
    top: 200%;
    background: #0B1D33;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 0px 30px 70px 0px rgb(40 44 49 / 15%);
    min-width: 100px;
    visibility: hidden;
    opacity: 0;
    transform-origin: top center;
    transform: perspective(400px) rotateX(-45deg);
    transition: all 0.3s ease-out 0s;
}

.head__lang:hover .lang__list {
    visibility: visible;
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
    z-index: 3;

}

/* **mobile menu */
.menu__mobile {
    display:inline-block;
    width: 320px;
    background-color: #0B1D33;
    position: fixed;
    top: 0;
    right: 0;
    /* right:-400px; */
    /* visibility: hidden;
    opacity: 0; */
    height: 100%;
    transition: all 0.7s;
    z-index: 11113;
    transform: translateX(101%);
}

.vertical-menu__logo {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.vertical-menu__logo .fa-times{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    transition: all 1s;
}
.spin{
    transform: rotate(360deg);
}

.vertical__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

}

.vertical__list .section-link {
    font-size: 14px;
    padding: 15px;

}

.vertical__list li {
    border-bottom: 1px solid rgb(255 255 255 / 6%);
}

.vertical__list li:nth-child(1) {
    border-top: 1px solid rgb(255 255 255 / 6%);
}

.social__list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.social__link i {
    font-size: 16px;
    padding: 0;
}

.social__link {
    padding: 10px;
    border: 1px solid rgb(255 255 255 / 6%);
    margin-left: 10px;
    width:15%;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}
.social__link:hover{
    background-color: #00C4F4;
}
.menu__background{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11112;
    transition: all 0.7s ease;
    opacity: 0;
    visibility: hidden;
    background: #0B1D33;
}
.visible{
    opacity: 0.8;
    visibility: visible;
}
/* submenu in mobile menu */
.menu-item-has-children{
    height: none;
    transition: all ease 0.4s;
}

.vertical-menu>li{
    height: 45px;
    width: 100%;
}
.menu-item-has-children{
    position: relative;
}
.btnSubmenu{
    position: absolute;
    background-color: #00C4F4;
    top: 10px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.btnSubmenu__icon{
    font-size: 14px;
    font-weight: 900;
    transition: all 0.4s;
}

.submenu--vertical{
    position: absolute;
    top: 45px;
    display: block;
    width: 100%;
    opacity: 0;
    /* display: none; */
    transition:  all ease 0.4s;
}
.showNav .submenu--vertical{
    
    opacity: 1;
    /* transition-delay: 0.1s; */
}
.submenu--vertical li{
    display: block;
    width: 100%;
}
.submenu--vertical li:last-child{
    border-bottom: unset;
}

.submenu--vertical li .section-link{
    display: block;
    width: 100%;
    padding-left: 30px;
}
/* css when click btnSubmenu */
.btnSubmenu.rotateUp{
    transform: rotate(90deg);
}

.menu-item-has-children.showNav{
    height: 135px;
}
/* @keyframes dropDown {
    0%{
        transform:translateY(-5px);
        visibility: visible;
        opacity:0;
    }
    100%{
        visibility: visible;
        transform:translateY(0);
        opacity:1;
    }
} */

