:root {
    --color-blue: #00c4f4;
    --color-yellow:#FF9700;
    --color-green:#12D176;
    --color-red:#FF1D45;
    --color-grey:#A5B5C3;
}

#about{
    padding:130px 0;
}

.info__col--img{
    position: relative;
}
.about_img02{
    position: absolute;
    top: 0;
    left: 20%;
}

.info__col--descript .title__content{
    width: 70%;
}

.info__col--descript .script{
    width: 70%;
    margin: 0 0 40px;
}

/* partner list*/

.partner__list li{

    /* *todo responsive here */
    width: 20%;
    height: 123px;
    margin: 0;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.06);
}
/* choose */
.corp__choose .title{
    margin: 0;
}
/* slick slider */
/* **layout */
.slick-slider{
    padding:50px 0;
    /* display: flex; */
    justify-content: space-around;
    border-bottom: 4px solid rgba(255, 255, 255, 0.06);
}
.choose__item{
    width: 24%;
    display: flex;
    flex-direction: column;
    padding:60px 40px;
    border: 1px solid #121A23;
    border-radius: 15px;
    /* margin-right: 10px; */
}
.start{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.choose__icon{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.07);
    border: 4px solid rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    margin-bottom: 30px;
    /* margin-right: 100%; */

}
.choose__content .title{
    font-size: 22px;
    margin-bottom:24px;
}