:root {
    --color-blue: #00c4f4;
    --color-yellow:#FF9700;
    --color-green:#12D176;
    --color-red:#FF1D45;
    --color-grey:#A5B5C3;
    --color--pink:#FF4581;
}


#roadmap{
    position: relative;
    overflow: hidden;   
    background-image: url(../img/area_bg.png);
    background-size: cover;
    background-position: center;
}
#roadmap::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(360deg, #0B1D33 0%, rgba(11, 29, 51, 0) 97.51%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    opacity: .8;

}
/* roadmap list */
.roadmap__haft--top{
    position: relative;
    overflow: visible;
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    
}
/* thanh doc xam o giua */
.roadmap__haft--top::after{
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    min-width: 100%;
    height: 8px;
    background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
    opacity: 0.1;
    
}
.map__container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0;
    max-height:100%;
    justify-content: flex-start;
    overflow: hidden;
    
}


.map__item--title{
    display: inline-block;
    color: #00C4F4;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 22px;
    letter-spacing: 0.1em;
}
.map__item{
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 305px;
}
.map__item:not(:first-child) {
    margin-left: -130px;
}
.map__item--content{
    position: relative;
    margin-left: 57px;
    padding-left: 17px;
    padding-top: 100px;
    /* max-height: 300px; */
}
.map__item--content .dot{
    position: absolute;
    left: -9px;
    top: 0;
}
/* tao vien cho dot */
.map__item--content .dot::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    background-color: var(--color-blue);
    opacity: 0.1;
    border-radius: 50%;
}
/* // */
.map__item--content::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #00C4F4;
}
.map__item--content .title{
    margin-bottom: 30px;
    font-size: 18px;
}
.map__item--content span{
    display: block;
    margin: 10px 0;
}
/*  */
.map__item:nth-child(odd){
 margin-top: 185px;
}
.map__item:nth-child(even){
    margin-top: 10px;
    display: flex;
    align-self: flex-start;
    flex-direction: column-reverse;
    justify-content: center;
    /* align-items: center; */
}
.map__item:nth-child(even) .map__item--title{
    line-height: 3;
}
.map__item:nth-child(even) .map__item--content .dot{
    top: auto;
    bottom: 0;
}
.map__item:nth-child(even) .map__item--content{
    padding: 0 0 120px 17px;
}
/*  */
.map__item:nth-child(2) .map__item--title{
    color: var(--color--pink);
}
.map__item:nth-child(3) .map__item--title{
    color: var(--color-yellow);
}
.map__item:nth-child(4) .map__item--title{
    color: var(--color-green);
}
.map__item:nth-child(5) .map__item--title{
    color: #007FF4;
}
.map__item:nth-child(6) .map__item--title{
    color: var(--color-yellow);
}
.map__item:nth-child(7) .map__item--title{
    color: var(--color--pink);
}

.map__item:nth-child(2) .map__item--content::before, .map__item:nth-child(2) .dot::after,.map__item:nth-child(2) .dot::before{
    background-color: var(--color--pink);
}
.map__item:nth-child(3) .map__item--content::before,.map__item:nth-child(3) .dot::after,.map__item:nth-child(3) .dot::before{
    background-color: var(--color-yellow);
}
.map__item:nth-child(4) .map__item--content::before,.map__item:nth-child(4) .dot::after,.map__item:nth-child(4) .dot::before{
    background-color: var(--color-green);
}
.map__item:nth-child(5) .map__item--content::before,.map__item:nth-child(5) .dot::after,.map__item:nth-child(5) .dot::before{
    background-color: #007FF4;
}
.map__item:nth-child(6) .map__item--content::before,.map__item:nth-child(6) .dot::after,.map__item:nth-child(6) .dot::before{
    background-color: var(--color-yellow);
}
.map__item:nth-child(7) .map__item--content::before,.map__item:nth-child(7) .dot::after{
    background-color: var(--color--pink);
}
/* custom scroll bar */

#style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #0B1D33;
}

#style-6::-webkit-scrollbar
{
   
	height: 5px;
}

#style-6::-webkit-scrollbar-thumb
{
    transition: 0.7s;
	background-color: var(--color-grey);	
}
#style-6::-webkit-scrollbar-thumb:hover
{
	background-color: var(--color-blue);	
}
/* roadmap document */
.doc__col{
    padding: 0 50px;
    margin-bottom: 0;
}
.doc__title .title{
    margin: 0;
}
/* doc list li*/
.doc__list{
    margin: 50px 0;
}
.doc__list-item{
    display: block;
    font-weight: 600;
    padding-left: 20px;
    position: relative;
}
.doc__list-item::after{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}
.doc__list-item:not(:last-child) {
    margin-bottom: 20px;
}