/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 768px) {
    #team .row--center{
        flex-direction: row;
    }
    .member {
        width: 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #team .row--center{
        flex-direction: row;
    }
    .member {
        width: 33%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .member {
        width: 25%;
    }
    #team .row--center{
        max-width: 1400px;
    }
}