#loader{
    position: fixed;
    display: flex;;
    align-items: center;
    justify-content: center;
    background-color:#030B15;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.overflowHidden{
    overflow: hidden;
}
.spinner{
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 1rem;
    margin:auto;
}
.rect{
    background-color: var(--color-blue);
    height: 100%;
    width: 8px;
    display: inline-block;
    animation: stretch 1.2s infinite ease-in-out;
}
.spinner .rect2{
    animation-delay: -1.1s;
}
.spinner .rect3{
    animation-delay: -1s;
}
.spinner .rect4{
    animation-delay: -0.9s;
}
.spinner .rect5{
    animation-delay: -0.8s;
}
@keyframes stretch{
    0%,40%,100%{
        transform: scaleY(0.4);
    }
    20%{
        transform: scaleY(1);
    }
}
:root {
    --color-blue: #00c4f4;
    --color-yellow: #FF9700;
    --color-green: #12D176;
    --color-red: #FF1D45;
    --color-grey: #A5B5C3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: white;
   transition: all 0.3s;
}

body {
    background-color: #030B15;
    
}

p {
    font-size: 16px;
    line-height: 1.75;
}
section{
    padding-top: 130px;
}
html,body {
    scroll-behavior: smooth;
}
.btn {
    width: 100%;
    position: relative;
}
.btn__content {
    user-select: none;
    -moz-user-select: none;
    background: #040E18;
    border-radius: 70px;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1;
    margin-bottom: 0;
    padding: 25px 50px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 1s 0s;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0px 6px 22px rgb(6 34 51 / 22%);
    background-clip: padding-box;
    position: relative;

}


.btn__content::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: -2px;
    background: linear-gradient(90deg, rgba(0, 196, 244, 1) 0%, rgba(4, 12, 21, 1) 49%, rgba(0, 196, 244, 1) 100%);
    border-radius: 70px;
    transition: all 1s ease 0s;
    z-index: -1;

}

.btn:hover .btn__content {
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
}


.btn--large {}

.btn--medium {}

.btn--small {
    padding: 20px 50px;
}

.img--fit {
    max-width: 100%;
}

.text--grey {
    color: var(--color-grey);
}

/* *!delete here */
.line--height {
    font-size: 16px;
    font-size: 16px;
    line-height: 1.75;
}

.text--bold--blue {
    margin: 0;
    color: var(--color-blue);
    font-weight: 600;
}
.title--center{
    
}
.title__name {
    position: relative;
    padding: 0 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0;
}

.title__name::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--color-blue);
    border-radius: 50%;
}

.title__name::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: auto;
    width: 10px;
    height: 10px;
    background-color: var(--color-blue);
    border-radius: 50%;
}

.title__content {
    font-size: 34px;
    letter-spacing: -0.01rem;
}

.title {
    margin-bottom: 30px;
}

.title--center {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.row {
    display: flex;
    width: 100%;
}

.row--center {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%
}

.row--space {
    justify-content: space-between;
}

.row--center .btn {
    display: flex;
    justify-content: start;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: 20px auto;
    padding: 0 50px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.FadeRight {
    transform: 1s;
    animation: FadeRight 2s;
}

.FadeLeft {
    transform: 1s;
    animation: FadeLeft 2s;
}

@keyframes FadeRight {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes FadeLeft {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.col__left{
    transform: translateX(-100px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;
}
.col__right{
    transform: translateX(100px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;
}
.show-animation{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

section{
    overflow: hidden;
}
.colUp{
    transform: translateY(100px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;
}
.show-animation2{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
i{
    cursor: pointer;
}