:root {
    --color-blue: #00c4f4;
    --color-yellow: #FF9700;
    --color-green: #12D176;
    --color-red: #FF1D45;
    --color-grey: #A5B5C3;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 16px;
    line-height: 1.75;
}

.activeSection {
    /* transition: 0.4s; */
    border-bottom: 3px solid #00c4f4;
}

.btn {
    width: 100%;
    position: relative;
}

.btn__content {
    background: #040E18;
    border-radius: 70px;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-clip: padding-box;
    position: relative;
    padding: 25px 50px;
}

.btn__content::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: -2px;
    background: linear-gradient(90deg, rgba(0, 196, 244, 1) 0%, rgba(4, 12, 21, 1) 49%, rgba(0, 196, 244, 1) 100%);
    border-radius: 70px;
    transition: all 0.4s ease 0s;
    z-index: -1;
}

.btn:hover .btn__content {
    color: var(--color-blue);
}

.btn:hover .btn__content::after {
    background: linear-gradient(90deg, rgba(0, 196, 244, 1) 0%, rgba(0, 196, 244, 1), rgba(0, 196, 244, 1) 100%);
}

.btn--large {}

.btn--medium {}

.btn--small {
    padding: 20px 50px;
}

.img--fit {
    max-width: 100%;
}

.text--grey {
    color: var(--color-grey);
}

/* *!delete here */
.line--height {
    font-size: 16px;
    font-size: 16px;
    line-height: 1.75;
}

.text--bold--blue {
    margin: 0;
    color: var(--color-blue);
    font-weight: 600;
}

.title__name {
    position: relative;
    padding: 0 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0;
}

.title__name::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--color-blue);
    border-radius: 50%;
}

.title__name::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: auto;
    width: 10px;
    height: 10px;
    background-color: var(--color-blue);
    border-radius: 50%;
}

.title__content {
    font-size: 34px;
    letter-spacing: -0.01rem;
}

.title {
    margin-bottom: 30px;
}

.title--center {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    width: 100%;
}

.row--center {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%
}

.row--space {
    justify-content: space-between;
}

.row--center .btn {
    display: flex;
    justify-content: start;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;

}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.FadeToRight {
    transform: 1s;
    animation: FadeRight 2s;
}

.FadeToLeft {
    transform: 1s;
    animation: FadeLeft 2s;
}

@keyframes FadeRight {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes FadeLeft {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}